*{
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.menu{
  display: flex;
    width: 100%;
    height: 50px;
    background-color: black;
    text-align: center;
    position: fixed;
}
.menu_nav{
  width: 9%;
  height: 50px;
  margin-left: 10px;
  float: right;
  padding: 15px;
  cursor: pointer;
  color: white;
}
.menu-nav{
  width: 25%;
  height: 50px;
  padding: 15px;
  background-color: #ff7200;
  cursor: pointer;
  color: white;
}
/* .menu_nav:hover{
  color: #ff7200;

} */
a{
  text-decoration: none;
  color: white;
}
a:hover{
  color: #ff7200;
}



section{
  display: flex;
}
.side_nav{
  width: 25%;
  height: 50%;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.sidebar{
    /* width: 25%; */
    margin-left: 15px;
    padding-top: 29px;
    background-color: white;
    cursor: pointer;

}
.sidebar:hover{
  color: #ff7200;
}
.menu-image{
  margin-top: 10px;
  margin-left: 10px;
  width: 75%;
  height: 50%px;
}
.memu_image{
  width: 100%;
  height: 600px;
}

/* =================================================== */
/* span:hover{
    color: #ff7200;
} */
/* .slide{
    width: 1335px;
    padding: 10px;
    height: 600px;
 } */
 /* .product-price{
    width: 350px;
    height: 300px;
    margin-top: 30px;
    
 } */

 /* =====================sidebar======================= */

.box{
  display: flex;
  margin-top: 20px;
  width: 25%;
  height: 500px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.Sceptre{
  display: flex;
  font-size: 8px;
  text-align: center;
  justify-content: center;
}
.FHD{
  width: 100px;
  height: 100px;

}
h1{
  margin-top: 25px;
  font-size: 15px;
  cursor: pointer;
}
h1:hover{
  color: #ff7200;
}
p{
  font-size: 15px;
  color: #ff7200;
  cursor: pointer;
}

/* =========================================== */


.sidemenubr{
  display: flex;
  width: 100%;
  height: 500px;
  margin-top: 15px;
}
.best{
  padding: 10px;
  font-size: 23px;
  border-bottom: 1px solid black;
}
.sidenavbar{
  width: 25%;
  height: 574px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.menudiv{
  width: 68%;
  height: 430px;
  margin-left: 20px;
}
.captre{
  display: flex;
}

.menudiv{
  display: flex;
  /* padding: 10px; */
}

.stool{
  /* margin-left: 40px; */
  /* padding: 20px; */
  border-radius: 4px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.bose{
  margin-left: 12px;
  /* padding: 20px; */
  border-radius: 4px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  
}

.can{
  margin-left: 12px;
  padding: 20px;
  border-radius: 4px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.fbtn{
  width: 100%;
  height: 40px;
  font-size: 15px;
  padding: 10px;
  text-align: center;
  justify-content: center;
  background-color: #ff7200;
  color: white;
}

h6{
  text-align: center;
  margin-top: 4px;
  
}

h3,h4,h5{
 text-align: left;
 padding: 10px;
 cursor: pointer;
}
.pri{
 color: #ff7200;
 cursor: pointer;
}

.port{
  width: 100%;
  
}

.fbtn:hover{
  background-color: black;
  color: #ff7200;
}


/* ================================== */
 
 
 

 .Special{
  /* margin-top: 90px; */
  width: 100%;
  height: 300px;
   display: flex;
   padding: 20px;
 }
 .spacial{
  font-size: 23px;
  padding: 10px;
  margin-top: 70px;
  /* border: 1px solid black; */
  border-bottom: 1px solid black;
  width: 20%;
 }
 .speaker{
   box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
   height: 400px;
   margin-right: 10px;
 }
 .cam{
   /* width: 300px; */
   height: 400px;
   /* margin-left: 20px; */
   box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
 }
 .camerawatch{
  height: 355px;
 }
 .camerabtn{
  padding: 10px;
  width: 93%;
  background-color: #ff7200;
 }
 .camerabtn:hover{
  background-color: black;
  color: #ff7200;
 }
 .mackbook{
   /* width: 300px; */
   height: 400px;
   /* margin-left: 20px; */
   box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
   /* background-color: rgb(55, 24, 233); */
 }
 .sound{
   /* width: 300px; */
   height: 400px;
   margin-left: 20px;
   box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
   /* background-color: rgb(233, 24, 216); */
 }

 .apple{
   /* width: 300px; */
   height: 400px;
   margin-left: 20px;
   box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
   /* background-color: red; */
 }
 .offer{
   margin-left: 11px
 }



 /* ========================================= */

 

 /* ===================================== */
 .join{
  margin-top: 200px;
   width: 100%;
   height: 100px;
   display: flex;
   text-align: center;
   align-items: center;
   justify-content: center;
   gap: 0px;
   background-color: black;
 }

 .our{
   width: 400px;
   height: 50px;
   box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
 }
 .new{
   color: #ff7200;
 }
 .ne{
   color: white;
 }
  .search{
   width: 300px;
   height: 40px;
   /* font-size: 25px; */
   margin-top: 0px;
   /* padding: 10px; */
   border-radius: 3px;
   box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
 }

 .sub{
  width: 239px;
  height: 37px;
  margin-top: 0px;
  font-size: 19px;
   border-radius: 5px;
   color: white;
   background-color: darkgrey;
   box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
 }
 .sub:hover{
   background-color: #ff7200;
 }
 /* ===============footer=============================? */

 .futter{
   width: 100%;
   height: 400px;
   display: flex;
   margin-top: 10px;
   /* border: 1px solid black; */
   /* gap: 10px; */
 }

 .about{
  width: 25%;
  height: 400px;
  /* background-color: chartreuse; */
 }

 .usefull-links{
  width: 18.50%;
  height: 400px;
  /* background-color: rgb(0, 255, 200); */
 }
 .futter3{
  width: 18.50%;
  height: 400px;
  /* background-color: rgb(0, 4, 255); */
 }
 .futter4{
  width: 18.50%;
  height: 400px;
  /* background-color: rgb(255, 0, 179); */
 }
 .futter5{
  width: 18.50%;
  height: 400px;
  /* background-color: rgb(0, 255, 200); */
 }

 .lorem{
   padding: 10px;
   color: black;
   float: left;
   text-align: left;
 }

 .futterh{
  padding: 10px;
  font-size: 30px;
  color: rgb(0, 0, 0);
 }
 .hed{
  /* text-align: center; */
  margin-left: 60px;
  font-size: 21px;
 }

 .Useful{
  padding: 10px;
  font-size: 14px;
 }
 h6.Useful {
  text-align: left;
  color: #5a5555;
  padding-left: 68px;
 }

 .footterinp{
  width: 198px;
  height: 41px;
 }




 


